
/* This is a global style file for the Remotion Studio. */
/* It does not affect the website. */
/* You can delete this file if you want. */

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
